<p id="notice"><%= notice %></p>

<h1>Cities</h1>
<section class="city-gallery">
<% @cities.each do |city| %>
  <article class="city-card">
    <div class="city-img"><img src="" alt=""></div>
    <h2><%= city.name %></h2>
    <%= link_to "Discover", city_path(city.id) %>
  </article>
  <% end %>
</section>

<br>

<%= link_to 'New City', new_city_path %>
