<header>
  <h1 class="logo"><%= link_to "Cities of Monsters", root_path %></h1>
    <nav>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "New Monster", new_monster_path %></li>
    </nav>
  </header>
